<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"><a href="http://www.brokenvessel.online/terms-and-conditions.html">Terms and Conditions</a>.</span>
  </div>
</footer>
