@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.padding-bottom {
  padding-bottom: 50px;
}
/******************** SIGN IN AND SIGN UP PAGE CSS***********************/
.landing-logo {
  width: 30%;
}
.featurette-heading {
  font-weight: 700;
  padding: 10px 0;
}
.featurette-heading h2 {
  color: #6c757d;
}
.text-colored {
  color: #007bff;
}
.signin-wrapper {
  width: 80%;
  margin: auto;
}
.sidebar ul li {
  padding: 10px 0;
}
.privacy-warning {
  display: none;
  font-size: 12px;
}
.icon-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
#custom-nav {
  -webkit-box-shadow: 1.5px 1.5px 1.5px grey;
  -moz-box-shadow: 1.5px 1.5px 1.5px grey;
  box-shadow: 1.5px 1.5px 1.5px grey;

  .custom-navbar-left {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
}
/***********************End of AUTHENTICATION CSS********************/

/*************** Landing Page******************/
#landing-img {
  width: 95%;
  height: 95%;
}
.center img {
  margin: auto;
  padding-top: 90px;
}
.welcome {
  padding-top: 90px;
}
.welcome-2 {
  padding-top: 90px;
}
.welcome-3 {
  padding-top: 20px;
}
.welcome div {
  padding: 10px;
}
.wrapper {
  padding: 30px 10px;
}
/****************** End of Landing Page CSS***********************/

/************************MAIN PAGE CSS*******************/
#logo {
  height: 30px;
}
.community-landing {
  padding-top: 30px;
}
/*******************************************/
/************ footer CSS ************/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.footer a {
  color: #222;
  opacity: 0.5;
  text-decoration: none;
}

.footer a:hover {
  opacity: 1;
}

/************ MEDIA QUERIES ************/
/* Portrait */

@media (max-device-width: 375px) {
  .center img {
    margin: auto;
    padding-top: 30px;
  }
  .welcome {
    padding-top: 0;
  }
  .hidden-xs-down {
    display: none !important;
  }
  .privacy-warning {
    display: inline;
    font-size: 12px;
  }
}

@media (max-device-width: 320px) {
  .center img {
    margin: auto;
    padding-top: 20px;
  }
  .welcome {
    padding-top: 10px;
  }
  .hidden-xs-down {
    display: none !important;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
